body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

h3 {
    display: inline;
}

.well {
    text-align: center;
    border: none;
    background-color: #fff;
}

.loginbox {
    width: 320px;
    height: 455px;
    background: #fff;
    color: #000;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    background: #07ff28;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #07ff28;
    color: #000;
}

.loginbox #back {
    border: none;
    outline: none;
    width: 100%;
    height: 35px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox .ancor {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(63, 6, 6);
}

.loginbox .ancor:hover {
    color: #99130a;
}